@font-face {
  font-family: Reckless;
  src: url(fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
  font-family: Roboto M;
  src: url(fonts/RobotoMono-Medium.ttf);
}

@font-face {
  font-family: Midnight;
  src: url(fonts/midnight-sans-rd-12-medium-trial.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#menu-icon {
  font-size: 25px;
}

header {
  color: white;
  background-color: rgb(42, 40, 87);
  height: 30px;
  justify-items: center;
  align-content: center;
  padding: 1vw;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(251, 249, 235);
  padding: 1vw;
  position: relative;
}

nav {
  width: 100%;
  background-color: rgb(255, 254, 251);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(0.8);
  padding: 0.3vw 1vw;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.ri-arrow-drop-down-line {
  background-color: rgb(192, 219, 255);
  border-radius: 50px;
  border: 1px solid black;
}

.ri-star-fill {
  color: rgb(241, 241, 53);
}

nav .nav-part-1 {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  font-family: Reckless;
  font-weight: 100;
  width: 33%;
  display: none;
}

nav .nav-part-2 {
  margin-left: 30%;
  width: 8vw;
  display: flex;
  height: auto;
}

.nav-part-2 img {
  width: 170%;
}

.nav-part-3 {
  display: flex;
  width: 33%;
  font-size: 0.6rem;
  gap: 2vw;
  align-items: center;
  justify-content: end;
  font-family: Roboto M;
}

.nav-part-3 h3 {
  font-weight: 300;
  display: none;
}

.nav-part-3 svg {
  width: 100%;
}

#section-1 {
  width: 100%;
  height: 100vh;
  background-image: url("ChatGPT\ Image\ Jun\ 13\,\ 2026\,\ 10_17_53\ PM.png");
  background-size: cover;
  background-position: 80%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 2vw;
  align-items: start;
  gap: 1vw;
  border-bottom: 1px solid black;
}

#section-1 h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  max-width: 20vw;
  font-family: Reckless;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-align: center;
}

#section-1 p {
  font-size: 1rem;
  font-family: Reckless;
  font-weight: 300;
  max-width: 23vw;
  color: black;
}

#section-1 button {
  padding: 0.8rem 3rem;
  background-color: rgb(42, 40, 87);
  color: white;
  border-radius: 1vw;
}

#section-2 {
  height: 100%;
  width: 100%;
  padding: 8rem 1rem;
}

#section-2 .section2-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Reckless;
}

.section2-text h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 300;
  width: 70%;
  text-align: center;
}

#section-2 > button {
  padding: 0.1rem 0.5rem;
  font-size: 3rem;
  margin-top: 5rem;
  font-family: Midnight;
  font-weight: 600;
  background-color: #daaeea;
  border-radius: 1.2rem;
  rotate: -4deg;
  letter-spacing: 2px;
}

#section-2 .card-container {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.card-container::-webkit-scrollbar{
    display: none;
}


.card1{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #c1ee91;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}

.card2{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #C8E892;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}

.card3{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #B0E8C1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}

.card4{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #CCE3FF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}


.card5{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #FFD884;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}


.card6{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #C1E4F8;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}

.card7{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #C0E571;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}


.card8{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #FFCB96;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}

.card9{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #AEE0F9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}


.card10{
  padding: 1rem;
  width: 35vh;
  height: 40vh;
  background-color: #c1ee91;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}

.card-top-text {
    font-family: Midnight;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.card-top-text button{
    padding:  0.2rem 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid black;
    background-color: white;
    font-family: Midnight;
    font-size: 1.2rem;
    font-weight: 400;
}


.card-top-text span{
    font-size: 1.2rem;
    font-family: Reckless;
}

.card-btm-text{
    font-family: Reckless;
    background-color: white;
    padding: 0.6rem 0.8rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}

.card-top:hover img{
    scale: 1.1;
    transition: all ease 0.3s;
}

.card1 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.card2 img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.card3 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.card4 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}


.card5 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}


.card6 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}


.card7 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}


.card8 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.card9 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.card10 img {
  height: 90%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.card-btm{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: start;
}

.card-btm h1{
    font-family: Reckless;
    font-weight: 100;
    font-size: 1.6rem;
}


.card-btm h3{
    font-family: Reckless;
    font-weight: 100;
    font-size: 1rem;

}

.card-btm p{
    font-family: Reckless;
    font-weight: 100;
    font-size: 1.1rem;
    color: #767676;
}

.btttn button{
  font-family: Figtree, sans-serif;
font-weight: 400;
font-style: normal;
line-height: 23.4px;
letter-spacing: 0.09px;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  background-color: #2A2857;
  color: white;
  border-radius: 2rem;
}

.btttn{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 button {
  padding: 0.1rem 0.5rem;
  font-size: 3rem;
  margin-top: 5rem;
  font-family: Midnight;
  font-weight: 600;
  background-color: #73BC25;
  border-radius: 1.2rem;
  rotate: -4deg;
  letter-spacing: 2px;
}


.section-3 {
  height: 100%;
  width: 100%;
  padding: 8rem 1rem;
}

.section-3 .section3-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Reckless;
}

.section3-text h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 300;
  width: 70%;
  text-align: center;
}

.section-4{
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.caard1{
  display: flex;
  flex-direction: column;
  gap: 27%;
  text-align: center;
  padding: 9rem 1.3rem;
  background-color: #F5AF8A;
  width: 35vh;
  height: 60vh;
  border-radius: 1rem;
  border: 1px solid black;
}

.caard1 h3{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 200;
  font-family: Reckless;
}

.caard1 p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.9rem;
color: rgb(111, 110, 109);
}

.btm-box1{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #EA6D44;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btm-box1 h1{
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.8rem;
color: white;
text-align: start;
}

.btm-box1 img{
  width: 3rem;
}

.btm-box1 button{
  font-size: 1rem;
  padding: 1rem 1.3rem;
  border-radius: 2rem;
}



.caard1{
  display: flex;
  flex-direction: column;
  gap: 27%;
  text-align: center;
  padding: 9rem 1.3rem;
  background-color: #F5AF8A;
  width: 35vh;
  height: 60vh;
  border-radius: 1rem;
  border: 1px solid black;
}

.caard1 h3{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 200;
  font-family: Reckless;
}

.caard1 p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.9rem;
color: rgb(111, 110, 109);
}

.btm-box1{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #EA6D44;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btm-box1 h1{
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.8rem;
color: white;
text-align: start;
}

.btm-box1 img{
  width: 3rem;
}

.btm-box1 button{
  font-size: 1rem;
  padding: 1rem 1.3rem;
  border-radius: 2rem;
}




.caard2{
  display: flex;
  flex-direction: column;
  gap: 27%;
  text-align: center;
  padding: 9rem 1.3rem;
  background-color: #ABDF74;
  width: 35vh;
  height: 60vh;
  border-radius: 1rem;
  border: 1px solid black;
}

.caard2 h3{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: Reckless;
}

.caard2 p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.9rem;
color: rgb(111, 110, 109);
}

.btm-box2{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #73BC25;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btm-box2 h1{
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.8rem;
color: white;
text-align: start;
}

.btm-box2 img{
  width: 3rem;
}

.btm-box2 button{
  font-size: 1rem;
  padding: 1rem 1.3rem;
  border-radius: 2rem;
}




.caard3{
  display: flex;
  flex-direction: column;
  gap: 33%;
  text-align: center;
  padding: 9rem 1.3rem;
  background-color: #FFD265;
  width: 35vh;
  height: 60vh;
  border-radius: 1rem;
  border: 1px solid black;
}

.caard3 h3{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: Reckless;
}

.caard3 p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.9rem;
color: rgb(111, 110, 109);
}

.btm-box3{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #FFB500;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btm-box3 h1{
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.8rem;
color: white;
text-align: start;
}

.btm-box3 img{
  width: 3rem;
}

.btm-box3 button{
  font-size: 1rem;
  padding: 1rem 1.3rem;
  border-radius: 2rem;
}



.caard4{
  display: flex;
  flex-direction: column;
  gap: 27%;
  text-align: center;
  padding: 9rem 1.3rem;
  background-color: #ADE674;
  width: 35vh;
  height: 60vh;
  border-radius: 1rem;
  border: 1px solid black;
}

.caard4 h3{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 200;
  font-family: Reckless;
}

.caard4 p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.9rem;
color: rgb(111, 110, 109);
}

.btm-box4{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #8BC045;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btm-box4 h1{
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.8rem;
color: white;
text-align: start;
}

.btm-box4 img{
  width: 3rem;
}

.btm-box4 button{
  font-size: 1rem;
  padding: 1rem 1.3rem;
  border-radius: 2rem;
}



.caard5{
  display: flex;
  flex-direction: column;
  gap: 27%;
  text-align: center;
  padding: 9rem 1.3rem;
  background-color: #F5AF8A;
  width: 35vh;
  height: 60vh;
  border-radius: 1rem;
  border: 1px solid black;
}

.caard5 h3{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  font-weight: 200;
  font-family: Reckless;
}

.caard5 p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.9rem;
color: rgb(111, 110, 109);
}

.btm-box5{
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #EA6D44;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btm-box5 h1{
  font-family: Figtree, sans-serif;
font-weight: 500;
font-size: 0.8rem;
color: white;
text-align: start;
}

.btm-box5 img{
  width: 3rem;
}

.btm-box5 button{
  font-size: 1rem;
  padding: 1rem 1.3rem;
  border-radius: 2rem;
}
/* ? MOBILE */
@media (min-width: 768px) {
  nav {
    width: 100%;
    background-color: rgb(255, 254, 251);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(0.8);
    padding: 0.2vw 1vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }

  nav .nav-part-1 {
    display: flex;
    gap: 1rem;
    font-size: 0.2rem;
    font-family: Reckless;
    font-weight: 100;
    width: 33%;
  }

  nav i {
    display: none;
  }

  .nav-part-1 h3 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .nav-part-3 h3 {
    font-weight: 300;
    display: block;
    white-space: nowrap;
  }

  nav .nav-part-2 {
    margin-left: -7%;
    width: 8vw;
    display: flex;
    height: auto;
  }


  .section2-text h1 {
  width: 80%;
}

}

@media (max-width: 1024px) {
}
