@font-face {
    font-family: Reckless;
    src: url(fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
    font-family: Roboto M;
    src: url(fonts/RobotoMono-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#menu-icon{
    font-size: 25px;
}

header{
    color: white;
    background-color: rgb(42, 40, 87);
    height: 30px;
    justify-items: center;
    align-content: center;
    padding: 1vw;
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(251, 249, 235);
    padding: 1vw;
    position: relative;
}


nav{
    width: 100%;
    background-color: rgb(255, 254, 251);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(0.8);
    padding: 0.3vw 1vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.ri-arrow-drop-down-line{
    background-color: rgb(192, 219, 255);
    border-radius: 50px;
    border: 1px solid black;
}


.ri-star-fill{
    color: rgb(241, 241, 53);
}

nav .nav-part-1{
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    font-family: Reckless;
    font-weight: 100;
    width: 33%;
    display: none;
}

nav .nav-part-2{
    margin-left: 30%;
    width: 8vw;
    display: flex;
    height: auto;
}

.nav-part-2 img{
    width: 100%;
}

.nav-part-3{
    display: flex;
    width: 33%;
    font-size: 0.6rem;
    gap: 2vw;
    align-items: center;
    justify-content: end;
    font-family: Roboto M;
}

.nav-part-3 h3{
    font-weight: 300;
    display: none;
}

.nav-part-3 svg{
    width: 100%;
}

#section-1{
    width: 100%;
    height: 100vh;
    background-image: url('ChatGPT\ Image\ Jun\ 13\,\ 2026\,\ 10_17_53\ PM.png');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 2vw;
    align-items: start;
    gap: 1vw;
}

#section-1 h1{
    font-size: clamp(3rem,4vw,4rem);
    max-width: 20vw;
    font-family: Reckless;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-align: center;
}

#section-1 p{
    font-size: 1rem;
    font-family: Reckless;
    font-weight: 300;
    max-width: 23vw;
    color: black;
}

#section-1 button{
    padding: 0.8rem 3rem;
    background-color: rgb(42, 40, 87);
    color: white;
    border-radius: 1vw;
}


@media (min-width:768px) {
 nav{
    width: 100%;
    background-color: rgb(255, 254, 251);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(0.8);
    padding: 0.2vw 1vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

    nav .nav-part-1{
    display: flex;
    gap: 1rem;
    font-size: 0.2rem;
    font-family: Reckless;
    font-weight: 100;
    width: 33%;
}



nav i{
    display: none;
}

.nav-part-1 h3{
    font-size: 1.2rem;
    font-weight: 300;
}

.nav-part-3 h3{
    font-weight: 300;
    display: block;
    white-space: nowrap;
}

nav .nav-part-2{
    margin-left: -7%;
    width: 8vw;
    display: flex;
    height: auto;
}
}

@media (max-width: 1024px){
    
}